.button {
   position: relative;
   overflow: hidden;
   padding: 15px 40px;
   font-size: $font-xx-small;
   line-height: 1.25;
   text-align: center;
   color: var(--color-white);
   background-color: var(--color-green);

   &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, var(--color-secondary) 0%, var(--color-secondary) 100%);
      transform: translateX(-100%);
      transition: transform 0.2s ease-in-out;
   }

   &__text {
      position: relative;
      z-index: 2;
   }

   &:hover::before {
      transform: translateX(0);
   }
}

.burger {
   --burger-width: 20px;
   --burger-height: 14px;
   --burger-color: var(--color-black);

   @include burger;

   @include mobileL {
      margin-left: 20px;
   }

   @media (min-width: 769px) {
      display: none;
   }
}

.show-more {
   display: inline-block;
   font-size: $font-xx-small;

   &__arrow {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
   }

   &__text {
      text-decoration: underline;
      color: var(--color-green);
      transition: text-decoration 0.1s ease-in-out;
   }

   &:hover &__text {
      text-decoration-color: transparent;
   }
}
