.button {
   padding: 15px 40px;
   font-size: 16px;
   line-height: 1.25;
   text-align: center;
   color: var(--color-white);
   background-color: var(--color-green);
}

.burger {
   --burger-width: 20px;
   --burger-height: 14px;
   --burger-color: var(--color-black);
   --burger-line-height: 2px;

   @include burger;

   @include mobileL {
      margin-left: 20px;
   }

   @media (min-width: 769px) {
      display: none;
   }
}
