.logo {
   @include responsive(font-size, 48, 24, 768, 320);
   @include responsive(width, 80, 50, 768, 320);

   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 7px;
   font-weight: 700;
   line-height: 125%;
   text-align: center;
   color: var(--color-white);
   background-color: var(--color-primary);

   &::before {
      content: "ID";
   }
}

// arrow-right styles
.arrow {
   display: inline-block;
   border-top: 8px solid transparent;
   border-bottom: 8px solid transparent;
   border-left: 16px solid var(--color-green);
   width: 0;
   height: 0;
}
