.list {
   display: flex;
   align-items: center;

   &__item {
      text-align: center;

      &:not(:last-of-type) {
         // margin-right: 47px;
         margin-right: 67 * 100vw / 1920;
      }
   }

   &__link {
      display: inline-block;
      margin: 0 auto;
      border: 1px solid transparent;
      font-size: 18px;
      line-height: 125%;
      text-align: center;
      text-decoration: underline solid transparent 2px;
      transition: text-decoration-color 0.1s ease-in;
      text-underline-offset: 5px;

      &:hover {
         text-decoration-color: var(--color-black);
      }
   }

   &.is-active {
      display: flex;
   }
}
