// @import "common/example";
@import "common/buttons";
@import "common/icons";
@import "common/lists";
@import "common/inputs";

// ==!> Most Common styles <!==
.phone {
   font-weight: 700;
   line-height: 30 / 20 * 100%;

   @include responsive(font-size, $font-small, $font-xx-small, 768px, 320px);
}

.--underline {
   text-decoration: underline solid transparent 2px;
   transition: text-decoration-color 0.1s ease-in;
   text-underline-offset: 5px;

   &:hover {
      text-decoration-color: var(--color-black);
   }
}

.title {
   margin: 0;
   font-weight: 700;
   line-height: 125%;

   @include responsive(font-size, $font-large, $font-middle, 1024px, 320px);

   &--small {
      text-align: left;

      @include responsive(font-size, $font-middle, $font-x-small, 1024px, 320px);
   }
}

.text {
   margin: 0;

   @include responsive(font-size, $font-x-small, $font-xx-small, 1024px, 320px);
}

// ==!> Most Common styles <!==
