// @import "common/example";
@import "common/buttons";
@import "common/icons";
@import "common/lists";

// ==!> Most Common styles <!==
.phone {
   @include responsive(font-size, 20, 16, 768, 320);

   font-weight: 700;
   line-height: 30 / 20 * 100%;
}

._hover-decoration {
   text-decoration: 2px underline transparent;
   transition: text-decoration-color 0.1s ease-in;
   text-underline-offset: 5px;

   &:hover {
      text-decoration-color: var(--color-black);
   }
}

// ==!> Most Common styles <!==
