@use "sass:list";
@use "sass:string";

.footer {
   text-align: center;

   &__inner {
      display: flex;
      flex-direction: column;

      @include responsive(padding-top, $offset-x-middle, $offset-small, 1024px, 320px);
      @include responsive(padding-bottom, $offset-x-middle, $offset-small, 1024px, 320px);
   }

   &__social-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      @media (max-width: 420px) {
         gap: 8px;
      }
   }

   &__social-item {
      $social-bg: (var(--color-red), #475993, #039be5, #dc4e41, linear-gradient(45deg, #fd5 0%, #ff543e 50%, #c837ab 100%), #007ab9);

      flex: 0 0 40px;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      background-color: var(--color-primary);

      @for $i from 1 through length($social-bg) {
         $bg-color: nth($social-bg, $i);
         &:hover:nth-child(#{$i}) {
            background: nth($social-bg, $i);
         }
      }
   }

   &__social-link {
      display: inline-block;
      width: 100%;
      height: 100%;
   }

   &__social-icon {
      width: 50%;
      color: var(--color-white);
      transition: color 0.2s ease-in-out;

      @extend .footer__social-link;
   }

   &__email {
      margin-top: $offset-x-small;
      font-size: 15px;
   }

   &__copy {
      display: inline-block;
      margin-top: $offset-xx-small;
   }
}
