.hero {
   @include eclipse(#fff, 0.4);

   padding: $offset-small 0;
   min-height: 100vh;
   color: var(--color-primary);
   background-image: url("../img/main-bg.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: var(--color-white);

   &__inner {
      @include responsive(padding-top, 200px, 120px, 1024px, 320px);
      @include responsive(padding-bottom, 200px, 120px, 1024px, 320px);
   }

   &__title {
      @include responsive(font-size, $font-xx-large, $font-x-middle, 1024px, 320px);
   }

   &__text {
      @include responsive(font-size, $font-middle, $font-small, 1024px, 320px);

      margin-top: $offset-small;
      max-width: 450px;
      font-style: italic;
      text-align: left;
   }

   &__button {
      margin-top: $offset-x-small;
   }
}
