:root {
   // ==!> Colors <!==
   --color-black: #000;
   --color-white: #fff;
   --color-primary: #043f46;
   --color-green: #37806c;
   --color-red: #cb2027;
   --color-secondary: #718355;
   --color-gray: #edf2f4;
}

// font size properties
$font-xx-large: 64px;
$font-x-large: 48px;
$font-large: 36px;
$font-x-middle: 30px;
$font-middle: 24px;
$font-small: 20px;
$font-x-small: 18px;
$font-xx-small: 16px;

// offsets
$offset-large: 80px;
$offset-xx-middle: 64px;
$offset-x-middle: 52px;
$offset-middle: 40px;
$offset-small: 32px;
$offset-x-small: 24px;
$offset-xx-small: 12px;
